body {
  background: #eee;
  font-family: Helvetica, Arial;
  font-size: 14px;
}

.player {
  width: 600px;
  height: 257px;
  position: absolute;
  top: calc(50% - 126px);
  left: calc(50% - 300px);
  box-shadow: 0 2px 4px 0 #1c1c1c;
  overflow: hidden;
}

.player .controls-container {
  position: absolute;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition: 0.3s ease-out;
  width: 100%;
  height: 40px;
  background: rgba(28, 28, 28, 0.7);
  opacity: 0;
  color: #fefefe;
}
.player:hover .controls-container, 
.player.paused .controls-container {
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 1;
}

.player .timeline {
  width: 100%;
  height: 6px;
  margin-top: -6px;
  background: rgba(50, 145, 218, 0.4);
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 #1c1c1c;
  overflow: hidden;
  transition: height 0.2s ease-out, margin-top 0.2s ease-out;
}

.player .timeline .timeline-elapsed {
  position: absolute;
  width: 100%;
  height: 6px;
  background: #3291DA;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  transition: -webkit-transform 0.1s, height 0.2s ease-out, margin-top 0.2s ease-out;
  transition: transform 0.1s, height 0.2s ease-out, margin-top 0.2s ease-out;
}

.player .timeline:hover {
  margin-top: -10px;
}

.player .timeline:hover, 
.player .timeline:hover .timeline-elapsed {
  height: 10px;
}


.controls-bar {
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.7);
}

.btn {
  display: inline-block;
  margin: auto 8px;
}

.btn-playpause {
  height: 18px;
  width: 18px;
  overflow: hidden;
  position: relative;
  top: 9px;
  margin-left: 16px;
}
.btn-playpause .left {
  height: 100%;
  float: left;
  background-color: #fff;
  width: 36%;
  transition: all 0.25s ease;
  overflow: hidden;
}
.btn-playpause .triangle-1 {
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.btn-playpause .triangle-2 {
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.btn-playpause .triangle-1,
.btn-playpause .triangle-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 18px solid rgb(28, 28, 28);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
}
.btn-playpause .right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #fff;
  transition: all 0.25s ease;
}
.btn-playpause.paused .left {
  width: 50%;
}
.btn-playpause.paused .right {
  width: 50%;
}
.btn-playpause.paused .triangle-1 {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.btn-playpause.paused .triangle-2 {
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.btn-volume {
  display: inline-block;
  width: 26px;
  height: 20px;
  background: url('ressources/btn-volume.svg') 100% no-repeat;
  position: relative;
  top: 11px;
}
.btn-volume.mute {
  background: url('ressources/btn-volume-mute.svg') 100% no-repeat;
}

.volume-slider {
  width: 60px;
  height: 16px;
  display: inline-block;
  background: rgba(50, 145, 218, 0.4);
  position: relative;
  top: 7px;
}

.volume-slider .volume-level {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #3291DA;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  transition: -webkit-transform 0.1s, height 0.2s ease-out, margin-top 0.2s ease-out;
  transition: transform 0.1s, height 0.2s ease-out, margin-top 0.2s ease-out;
}

.controls-bar .duration {
  position: relative;
  top: 3px;
}

.btn-fullscreen {
  background: url('ressources/fullscreen.svg') center no-repeat;
  background-size: cover;
  height: 24px;
  width: 24px;
  float: right;
  position: relative;
  top: 7px;
  cursor: pointer;
}


h1, h2, .notes {
  margin: auto;
  text-align: center;
}

.notes {

}